.form-control {
	margin-top: 20px;
	width: 40px;
}
.err {
	color: red;
}
a {
	font-size: 20px;
}
.btn-default {
	padding: 1%;
	margin: 0.5%;
}
.btn-default:active, .btn-default:visited {
	background-color: #4C4C4C;
}

.col-md-6, a {
	text-align: center;
	padding-top: 1%;
	font-size: 15px;
}
.navbar-fixed-bottom {
	border-top: 2px solid #0080FF;
}
.legal {
	color: black;
}
.resultBox {
	margin-bottom: 150px;
}