.form-control {
	margin-top: 20px;
	width: 40px;
}
.err, .err2 {
	color: red;
}
a {
	font-size: 20px;
}
.numeros, .last {
	padding: 1%;
	margin: 0.5%;
}
.btn-default:active, .btn-default:visited {
	background-color: #4C4C4C;
}

.col-md-6, a {
	text-align: center;
	padding-top: 1%;
	font-size: 15px;
}
.navbar-fixed-bottom {
	border-top: 2px solid #FF8708;
}
.legal {
	color: black;
}
.resultBox {
	margin-bottom: 150px;
}

.col-md-2 {
	width: 12%;
	padding: 5%;
}
.clear, .search, .new {
	float: left;
	margin: 5%;
}
.new {
	margin-left: 250%;
}
.page-header {
	border-bottom: 2px solid #FF8708;
}